In [1]:
import pandas as pd  

data = pd.read_csv("D:/Sparta/SP702/csv/sales.csv")

In [2]:
data.columns

Index(['Company', 'Person', 'Sales', 'Tax'], dtype='object')

In [3]:
data[['Company', 'Person']]

  Company   Person
0    GOOG      Sam
1    GOOG  Charlie
2    MSFT      Amy
3    MSFT  Vanessa
4      FB     Carl
5      FB    Sarah

In [4]:
# excludes a column

data[data.columns.difference(["Company"])]

    Person  Sales   Tax
0      Sam    200  0.12
1  Charlie    120  0.12
2      Amy    340  0.08
3  Vanessa    124  0.07
4     Carl    243  0.06
5    Sarah    350  0.12

In [6]:
data = pd.read_csv("D:/Sparta/SP702/csv/df1.csv")
data1 = pd.read_csv("D:/Sparta/SP702/csv/df2.csv")
data2 = pd.read_csv("D:/Sparta/SP702/csv/df3.csv")

print(data)
print("-------end--------")
print(data1)
print("-------end--------")
print(data2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
-------end--------
    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7
-------end--------
     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [7]:
x = pd.concat([data,data1,data2], axis=1) #if index=1, with index
x.to_csv("D:/Sparta/SP702/csv/df5.csv",index=False)

In [9]:
data2 = pd.read_excel("D:/Sparta/SP702/csv/sales.xlsx", sheet_name="sales")
filter = data2.loc[data2['Tax']>0.07] 
type(filter)
print(filter)

pandas.core.frame.DataFrame

In [10]:
type(data2)

pandas.core.frame.DataFrame

In [ ]:
import pandas as pd
from pandas import ExcelWriter


writer = ExcelWriter("D:/Sparta/SP702/csv/empty.xlsx")

.to_excel(writer,'Sheet1',index=False)
writer.save()

In [ ]:
import pandas as pd
from pandas import ExcelWriter